*{
    margin: 0;
    padding: 0;
    
}
html{
  width: 99.9vw;
  height: 100vh;

}
body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}

.card-projects{
  transform: matrix(1, 0.12, -0.08, 0.99, 0, 0);

}




@font-face {
  font-family: 'JetBrains';
  src: url("../font/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: 'Inter';
  src: url("../font/Inter/static/Inter-Regular.ttf");
}
@font-face {
  font-family: 'InterBold';
  src: url("../font/Inter/static/Inter-Bold.ttf");
  font-weight: bold;
}

.close{
  animation-duration: 400ms;
}

.sidebar.ouvert{
  right: 0vw;
}
.cross{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 11px;

}
.cross2{
  width: 20px;
  height: 20px;
  position: absolute;
}




/*Particles Style*/


canvas{
  display: block;
  vertical-align: bottom;
} 
/* ---- particles.js container ---- */
#particles-js{
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 100% 100%; 
} 




/*RESPONSIVE*/
@media screen and (min-width: 1024px) {
  .sidebar.ouvert{
    right: -10vw;
  }
  .cross2{
    display: none;
  }
}


/* @media screen and (min-width: 1024px) {
  .card-projects{
    transition: transform .1s;
  }

  .card-projects:hover{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
  }  
} */

@media all and (min-width: 320px) and (max-width: 768px){

  .card-projects{
    transition: transform .1s;
    border-bottom: 2px solid rgba(0,0,0,.2);
    border-right: 2px solid rgba(0,0,0,.2);
  }
  .card-projects:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);
  }
  .card-projects:nth-child(2):hover{
    z-index: 20;
  }
  .card-projects:nth-child(3):hover{
    z-index: 20;
  }
  
}

@media all and (min-width: 375px) and (max-width: 500px){

  .card-projects:nth-child(1){
    left:20%
  }
  .card-projects:nth-child(3){
    right: 20%;
  }
}

@media all and (min-width: 1024px) and (max-width: 2500px){
  .card-desktop{
    border-radius:10px;
    padding: 14px;
    cursor: pointer;
    transform: rotateY(-35deg) rotateX(15deg);
    position: absolute;
    border-bottom: 4px solid rgba(0,0,0,.2);
    border-right: 4px solid rgba(0,0,0,.2);
    transition: 300ms;
    opacity : 0.3;
  }

  .card-desktop:hover{
    transform: translateY(30px)  rotateY(-35deg) rotateX(15deg) scale(1.2);
    opacity: 1;
  }


}


  


