*{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;

}
body,html{
  height: 98.9%;
  width: 100vw;
  
}

@font-face {
  font-family: 'JetBrains';
  src: url("../font/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
}

.close{
  animation-duration: 400ms;
}

.sidebar.ouvert{
  right: 0vw;
}

