*{
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;

}
body,html{
  height: 100%;
  width: 100vw;
  
}

@font-face {
  font-family: 'JetBrains';
  src: url("../font/JetBrains_Mono/static/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: 'Inter';
  src: url("../font/Inter/static/Inter-Regular.ttf");
}

.close{
  animation-duration: 400ms;
}

.sidebar.ouvert{
  right: 0vw;
}
.cross{
  width: 19px;
  height: 19px;
}














/*RESPONSIVE*/
@media screen and (min-width: 1024px) {
  .sidebar.ouvert{
    right: -10vw;
  }
}
  


